* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.mainContainer {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:900px;
    margin: 0 auto;
    height: calc(100vh - 50px);

}

.slideContainer {
    width: 900px;
    border: 1px solid black;
}

.slideContainer *{
    border: 1px solid black;
}

.canvasContainer {
    display:grid;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.canvasSquares {
    background-color:#F0F0D1;
}

.red {
    background-color: black;
}

.colors {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
    padding: 30px;
}

.colors *{
    margin-bottom: 10px;
}